body{
    background-color:rgb(61, 29, 29);
}
#title{
    border: 3px dashed black;
    border-radius: 50%;
    margin: 25px;
    padding-top: 5px;
    padding-bottom: 5px;   
    padding-left: 40%;
    font-size: 25px;
}
.subtitle, .post_title, .post_subtitle{
    color:black;
    font-style: italic;
    font-size: 20px;
}
.Photo{
    color: rgb(88, 88, 196);
    font-style: italic;
    font-size: 20px;
}
.Photo_2{
    margin-left: 40px;
    border-radius: 50% 100% 50% 100%;
    border: 3px solid black;
}
.Text, .Text_2, .Text_3, .Text_4{
    Color: rgb(88, 88, 196);
    font-style: italic;
    font-size: 16px;
}
.Link, .Link_2, .Link_3{
    Color: black;
    font-style:italic;
    font-size: 15px;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}
._post{
    background-color: rgb(65, 40, 40);
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 5px;
    margin: 10px;
    border: 3px dotted black;
    border-bottom: 3px dotted black;
    border-radius: 4%;
}